body {
    font-family: Roboto;
    font-weight: 500;
    color: #212121;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}
.header-logo {
    color: #000000;
}
.nav-list {
    font-size: 14px;
    line-height: 1.1;
}
.nav-studio {
    color: #2196F3;
}
.nav-portfolio {
    color: #2196F3;
}

.mail {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: #757575;
}
.mail:hover,
.mail:focus {
    color: #2196F3;
}
.phone {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: #757575;
}
.phone:hover,
.phone:focus {
    color: #2196F3;
}
.upper-section {
    background-color: #2F303A;
}
.main-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color: #FFFFFF;
}
.main-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    color: #FFFFFF;
    background-color: #2196F3;
}
.titles {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    color: #212121;
}
.benefits-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #757575;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
}
.team-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #212121;
}
.team-dscrpt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #757575;
}
.footer {
    background-color: #2F303A;
}
.footer-logo {
    color: #FFFFFF;
}
.footer-adress {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    color: #FFFFFF;
}
.footer-mail,
.footer-phone {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.filtr-buttons {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #212121;
    background-color: #F5F4FA;
}
.filtr-buttons:hover, 
.filtr-buttons:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
.active-button {
    color: #FFFFFF;
    background-color: #2196F3;
}

.filtr-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.filtr-dscr {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}